
*.[oa]
*.exe
*.la
*.lo
*.so
*~*

**/*.[oa]
**/*.exe
**/*.la
**/*.lo
**/*.so
**/*~*

autom4te.cache/**
config.log
.kdev4/**
*.kdev4
.libs/**
m4/**
*.m4
ci/build/**
ci/install/**
Makefile
Makefile.in
config.h
config.status
libtool
src/.deps/**
src/.dirstamp
stamp-h1

version.txt

dorothy

